.jumbotron{
    background:#9575CD;
    color: floralwhite;

}
.footer{
    background:  #D1C4E9;
    padding: 20px 0px 20px 0px;  
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
}